.header{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

h1 {
  color: white;
  font-family: 'Gugi', cursive;
  margin: 0;
  font-size: 3em;
}

p{
  color: gray;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  margin: 0;
}
